body{
    margin: 0;
    padding: 0;
    background-image:url('netflixa.jpg');
    background-position: right;

}

/* .netfor{
    color:red;
    font-size:55px;
    font-family: sans-serif;
    letter-spacing: -10px;
    font-weight: 510;
   } */



 header{
    display: flex;
    margin-top:1rem;
    justify-content:space-between;
    padding-left:4rem;
    padding-right: 4rem;
 }

 p{
    color:red;
    font-size: 64px;
    font-weight: 600;
    margin: 0%;

}
.sign-but{
    background: red;
    width:80px;
    height:40px;
    font-size: 17px;
    color:white;
    border:red;
    border-radius: 10%;
  
    
}
::placeholder{
    color:white;
    text-align: center;
    opacity:53%;
    font-size: 17px;
}
main{
    text-align: center;
    margin:11rem
}

h1{
    font-size: 60px;
    color:rgb(247, 243, 243);
}

h2{
    color:white;
    font-weight: 200;

}

h3{
    color:white;
    
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT';

    }

    input{
        height:52px;
        width:400px;
        background:transparent;
        color:white;
        font-size: 16px;
        border-color:rgb(226, 228, 215);
        border-radius: 4%;
    }

    .getstart{
        width:200px;
        height:55px;
        background:red;
        font-size: 22px;
        font-weight: 600;
        color:white;
        border-radius:6% ;
    }

    @media screen and (max-width: 980px) {
        .getstart{
          background-color: red;
          margin:2rem;
        }

        h1{
            font-size: 34px;
        }
    }
    @media screen and (max-width: 740px) {
        input{
            text-align: center;
            width:270px;
        }

        .getstart{
            width:130px;
            font-size: 17px;
        }
    }
 
    @media screen and (max-width: 599px) {
        input{
            text-align: center;
            width:230px;
        }

        .getstart{
            width:100px;
            font-size: 17px;
        }

        h1{
            font-size: 35px;
        }
    }


    @media screen and (max-width: 450px) {
 h1   {
     font-size:35px;
    text-align: center;
   
    }
 .sign-but{
    position:absolute;
    right:3rem;

 }
h2{
    font-size:30px;
}

.cent{
    margin:0;
    padding: 3rem;
}
h3{
    font-size:20px;
}
input{
    width:250px;
}
.getstart{
    width:140px;
    height:40px;
    font-size:18px;
    margin:1rem
}


}


